<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <h1><img src="https://i.ibb.co/MZMjptQ/cinesnips.png" style="height: 5rem"></h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="cine">
  <ion-card color="success" class="ctm-card">
    <ion-card-header>
      <ion-card-title>Easy Difficulty</ion-card-title>
      <ion-card-subtitle>Get started with an easier difficulty!</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Easy difficulty includes simpler movie snippets to get started. Click below to start the game!
    </ion-card-content>
    <ion-button fill="full" routerLink="/game/easy" color="success">Start</ion-button>
  </ion-card>

  <ion-card color="warning" class="ctm-card">
    <ion-card-header>
      <ion-card-title>Medium Difficulty</ion-card-title>
      <ion-card-subtitle>Challenge yourself with moderate difficulty!</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Medium difficulty features slightly tougher movie snippets to test your skills. Click below to start the game!
    </ion-card-content>
    <ion-button fill="full">Start</ion-button>
  </ion-card>

  <ion-card color="danger" class="ctm-card">
    <ion-card-header>
      <ion-card-title>Hard Difficulty</ion-card-title>
      <ion-card-subtitle>Only for the bravest movie enthusiasts!!</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Hard difficulty offers the most challenging movie snippets for seasoned players. Click below to start the game!
    </ion-card-content>
    <ion-button fill="full">Start</ion-button>
  </ion-card>
</ion-content>
