<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <h1><img src="https://i.ibb.co/MZMjptQ/cinesnips.png" style="height: 5rem"></h1>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2>Signup</h2>
  <ion-item>
    <ion-input [(ngModel)]="email" placeholder="Enter your email" type="email"></ion-input>
  </ion-item>
  <p *ngIf="emailError" class="error-text">Please enter a valid email address.</p>

  <ion-item>
    <ion-input [(ngModel)]="password" placeholder="Enter your password" type="password"></ion-input>
  </ion-item>
  <p *ngIf="passwordError" class="error-text">Password must be at least 6 characters long.</p>

  <ion-button expand="full" (click)="validateAndGo()">Sign In</ion-button>
</ion-content>

<style>
  .error-text {
    color: red;
    margin-left: 16px;
    font-size: 0.9rem;
  }
</style>
