<ion-content class="ion-padding ion-text-center" color="cine">
  <img src="../../assets/CineLogo.png" class="logo"/>

  <div class="title">
    <h2>Sign-Up</h2>
    <p>Get started with CineSnips</p>
  </div>
  

  <div class="ion-margin-top">
      <ion-input [(ngModel)]="email" class="ion-margin-top cineFields" placeholder="Enter your email" type="email"></ion-input>
      <p *ngIf="emailError" class="error-text">Please enter a valid email address.</p>
      <ion-input class="ion-margin-top cineFields" placeholder="Enter your Username"></ion-input>
      <ion-input class="ion-margin-top cineFields" placeholder="Enter your Phone No." type="tel"></ion-input>
      <ion-input class="ion-margin-top cineFields" [(ngModel)]="password" placeholder="Enter your password" type="password"></ion-input>
      <p *ngIf="passwordError" class="error-text">Password must be at least 6 characters long.</p>
      <ion-button fill="outline" class="ion-margin-top custombtn" expand="block" (click)="validateAndGo()">Sign Up</ion-button>
  </div>


</ion-content>

<style>
  .error-text {
    color: white;
    margin-left: 16px;
    font-size: 0.9rem;
  }
</style>
