<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div class="profile-image-container">
        <img [src]="profileImage" alt="Profile Picture" class="profile-image" />
      </div>
      <ion-card-title>Welcome!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Email:</strong> {{ email }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p><strong>Current Score:</strong> {{ currentScore }}</p>
      <p><strong>Last Gamemode:</strong> {{ lastGamePlayed }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="editProfile()">Edit Profile</ion-button>
  <ion-button expand="block" color="danger" (click)="logout()">Logout</ion-button>
</ion-content>
